<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michal.siema" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Logowanie"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sala_1"
            android:label="@string/title_activity_sala_1" >
        </activity>
        <activity
            android:name=".Karta"
            android:label="@string/title_activity_karta" >
        </activity>
        <activity
            android:name=".Sala_2"
            android:label="@string/title_activity_sala_2" >
        </activity>
        <activity
            android:name=".Sala_3"
            android:label="@string/title_activity_sala_3" >
        </activity>
        <activity
            android:name=".Sala_4"
            android:label="@string/title_activity_sala_4" >
        </activity>
        <activity
            android:name=".Sala_5"
            android:label="@string/title_activity_sala_5" >
        </activity>
        <activity
            android:name=".Lista"
            android:label="@string/title_activity_lista" >
        </activity>
        <activity
            android:name=".Zamowienie"
            android:label="@string/title_activity_zamowienie" >
        </activity>
        <activity
            android:name=".Dodawanie"
            android:label="@string/title_activity_dodawanie" >
        </activity>
        <activity
            android:name=".Gotowka1"
            android:label="@string/title_activity_gotowka1" >
        </activity>
        <activity
            android:name=".Faktura"
            android:label="@string/title_activity_faktura" >
        </activity>
        <activity
            android:name=".Rezerwacja"
            android:label="@string/title_activity_rezerwacja" >
        </activity>
        <activity
            android:name=".Kuchnia"
            android:label="@string/title_activity_kuchnia" >
        </activity>
        <activity
            android:name=".Karta_dodawanie"
            android:label="@string/title_activity_karta_dodawanie" >
        </activity>
        <activity
            android:name=".Lista_dodawanie"
            android:label="@string/title_activity_lista_dodawanie" >
        </activity>
        <activity
            android:name=".Pprodukty_kategoria"
            android:label="@string/title_activity_pprodukty_kategoria" >
        </activity>
        <activity
            android:name=".Magzyn"
            android:label="@string/title_activity_magzyn" >
        </activity>
        <activity
            android:name=".Koszt_potrawy"
            android:label="@string/title_activity_koszt_potrawy" >
        </activity>
        <activity
            android:name=".Wykonane_potrawy"
            android:label="@string/title_activity_wykonane_potrawy" >
        </activity>
        <activity
            android:name=".Lista_zakupow"
            android:label="@string/title_activity_lista_zakupow" >
        </activity>
        <activity
            android:name=".Przychod"
            android:label="@string/title_activity_przychod" >
        </activity>
        <activity
            android:name=".Nowe_konto"
            android:label="@string/title_activity_nowe_konto" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="main" >
        </activity>
        <activity
            android:name=".Glowne_menu"
            android:label="@string/title_activity_glowne_menu" >
        </activity>
        <activity
            android:name=".Dane_do_faktury"
            android:label="@string/title_activity_dane_do_faktury" >
        </activity>
        <activity
            android:name=".Ustawienia"
            android:label="@string/title_activity_ustawienia" >
        </activity>
    </application>

</manifest>
